body { font-family: sans-serif; background: #fff; margin: 0; overflow-x: hidden; }
/* .xsmall { font-size: 70%; } */

.navbar { background: #202630; margin-bottom: 0 }
.navbar .navbar-nav > .dropdown > .dropdown-menu { background: #353b44 }
.navbar .navbar-toggle .icon-bar { background-color: #fff }
.navbar-brand, .navbar-brand:hover, .navbar-brand:focus, .navbar .navbar-nav > li > a, .navbar .navbar-nav > .dropdown > .dropdown-menu > li > a { font-weight: 700; color: #fff }
.navbar .navbar-nav > .dropdown > .dropdown-menu > li > a { font-weight: 500 }
.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .open > a, .navbar .navbar-nav > .open > a:focus, .navbar .navbar-nav > .open > a:hover { background: #353b44 }
.navbar .navbar-nav > .no-overlay > a:hover, .navbar .navbar-nav > .no-overlay > a:focus, .navbar .navbar-nav > .no-overlay.active > a, .navbar .navbar-nav > .no-overlay.active > a:hover, .navbar .navbar-nav > .no-overlay.active > a:focus, .navbar .navbar-nav > .no-overlay.open > a, .navbar .navbar-nav > .no-overlay.open > a:focus, .navbar .navbar-nav > .no-overlay.open > a:hover { background: #202630 }
.navbar .navbar-nav > .dropdown > .dropdown-menu > li > a:hover, .navbar .navbar-nav > .dropdown > .dropdown-menu > li > a:focus, .navbar .navbar-nav > .dropdown > .dropdown-menu > .active > a, .navbar .navbar-nav > .dropdown > .dropdown-menu > .active > a:hover, .navbar .navbar-nav > .dropdown > .dropdown-menu > .active > a:focus { background: #484e56 }
.navbar .navbar-nav > .dropdown > .dropdown-menu > .no-overlay > a:hover, .navbar .navbar-nav > .dropdown > .dropdown-menu > .no-overlay > a:focus, .navbar .navbar-nav > .dropdown > .dropdown-menu > .no-overlay.active > a, .navbar .navbar-nav > .dropdown > .dropdown-menu > .no-overlay.active > a:hover, .navbar .navbar-nav > .dropdown > .dropdown-menu > .no-overlay.active > a:focus { background: #353b44 }
.navbar .navbar-nav > .no-overlay > a, .navbar .navbar-nav > .no-overlay > a:hover, .navbar .navbar-nav > .no-overlay > a:focus { background: #202630 }
.navbar .navbar-nav > .dropdown > .dropdown-menu > .divider { background: #484e56 }

/* ------ */
/*  PAGE  */
/* ------ */

#main { margin: 10px 0 30px }
#main h2 { font-size: 22px }
#main .content-box { background: transparent; margin: 0 auto; padding: 10px; font-size: 14px; border: 1px solid #ddd; border-radius: 5px }

/*
#main .content-box.keygen {
    overflow-x: hidden; }

#main .content-box .content-box-header { background: #ddd;
    border-bottom: 1px solid #888;
    padding: 20px 0; }
#main .content-box .content-box-header.header-primary { background: #286090;
    color: #fff;
    border-color: #204d74; }
#main .content-box .content-box-header.header-danger { background: #c9302c;
    color: #fff;
    border-color: #ac2925; }
#main .content-box .content-box-header p {
    margin: 0 0 0 20px;
    font-size: 18px;
    font-weight: 500;
    text-overflow: ellipsis; }
#main .content-box .content-box-header p span {
    font-size: 16px;
    font-weight: 400; }
#main .content-box .content-box-header .copykeygen {
    background: #12355b;
    display: inline-block;
    position: relative;
    padding: 22px 42px 22px 14px;
    float: right;
    top: -44px;
    right: -99px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer; }
*/